@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: black;
}

.carousel-size-1 {
  margin: 0 auto; /* Center the carousel */
  padding: 2rem;
}

.carousel-size {
  margin: 0 auto; /* Center the carousel */
  padding: 0.1rem;
}

.mobile-1 {
  background: linear-gradient(to bottom, #000428, #004e92);
}

@media screen and (max-width: 556px) {
  .mobile-1 {
    background-image: url('./assets/yourstruly9.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}



.mobile-2 {
  background: linear-gradient(to bottom, #000428 , #004e92);
}

.carousel .slide {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

.carousel-item-size {
  /* width: 50%; Adjust the width of each carousel item */
  margin: 0 5%; /* Add spacing between carousel items */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item-size img {
  /* max-width: 100%; */
  /* max-height: 100%; */
  object-fit: cover;
}

/* Target the left arrow */
.carousel .control-prev.control-arrow {
  width: 50px; /* Adjust width to increase arrow size */
  height: 50px; /* Adjust height to increase arrow size */
}

/* Target the right arrow */
.carousel .control-next.control-arrow {
  width: 50px; /* Adjust width to increase arrow size */
  height: 50px; /* Adjust height to increase arrow size */
}

/* Optional: Add additional styling like background color or hover effects */
.carousel .control-arrow {
  border-radius: 50%; /* Make the arrows circular */
}

